.cart-list{
    display:flex;
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.product-info{
    padding: 10px;
}